/**
 * Styles for the included example Delete if you like
 */

// Type Overrides

h1,h2,h3,h4,h5,h6{
	letter-spacing: -1px;
}

p{
	line-height: 1.4;
}

// Layout 

.main{	
	@include at-breakpoint($l_up){
		@include span-columns(9 omega,12);
	}

	h1{
		border-bottom: 1px solid #bbb;
		padding: 0;
	}
}

.site-header{
	@include at-breakpoint($l_up){
		@include span-columns(2, 12);
	}
}

// Logo

.site-logo-link{
	margin-bottom: $base/2;
	display: block;
}

	.site-logo{
		float: right;
	}

// Nav

// Primary nav container
.primary-nav{   
    margin-bottom: $base; 
}

	// The first ul
	.nav-menu{
        list-style: none;
		margin: 0;
		text-align: right;
    }
	
	// Menu item
	.nav-menu .menu-item{ 
		margin: 0;
		font-size: 1.6rem;
		//min-height: $base*2;
		padding: $base/2 0;
	}
	
	// Menu item link (block level element with padding + margin applied)
	.nav-menu .menu-item a{
    	display: block;
    	color: $text_colour;
    	padding: 0;
    	border-bottom: 1px solid #eee;
    	font-weight: $medium;
}
	
	// Menu item hover
    .nav-menu .menu-item > a:hover{
		color: $link;
    }

	// The active page
    .nav-menu .menu-item--active > a,
    .nav-menu .menu-item--active > a:visited{
        color: $link;
        font-weight: $medium;
    }

    .nav-menu .menu-item--active .sub-menu li{
    	color: $text_colour;
    }
	
	//sub menu style
    .nav-menu .sub-menu{
    	margin: 0;
    	list-style: none;
    }

    //

// pad all the content at the top

.content{
	padding: $base 0 0 0;

	@include at-breakpoint($l_up){
		padding: $base*2 0 0 0;
	}
}

// Images Example

.example-image-container{
	
}

	.example-image{
		@include at-breakpoint($l_up){
			@include span-columns(4,8);
		}
		margin-bottom: $base;
	}

		.example-image--last{
			@include at-breakpoint($l_up){
				@include span-columns(4 omega,8);
			}
		}

// grid columns example

.example-grid .col{
	background: #ccc;
	line-height: $base*2;
	height: $base*2;
	text-align: center;
	margin-bottom: $base;
	border: 1px solid red;
	border: 1px solid darken(#ccc,3%);
	font-size: 1.6rem;
	@include border-radius($radius);
}

.example-grid .col--1{
	@include at-breakpoint($m_up){
		@include span-columns(1,8);
	}
}

	.example-grid .col--1--last{
		@include at-breakpoint($m_up){
			@include span-columns(1 omega,8);
		}
	}

.example-grid .col--2{
	@include at-breakpoint($m_up){
		@include span-columns(2,8);
	}
}

	.example-grid .col--2--last{
		@include at-breakpoint($m_up){
			@include span-columns(2 omega,8);
		}
	}

.example-grid .col--4{
	@include at-breakpoint($m_up){
		@include span-columns(4,8);
	}
}

	.example-grid .col--4--last{
		@include at-breakpoint($m_up){
			@include span-columns(4 omega,8);
		}
	}


// Footer

.site-footer{
	border-top: 1px solid #ccc;
	p {
		margin: 0;	
		padding: $base 0;
	}
}