////
// config.scss
// variables that control global stuff:
// grids, units font sizes etc

// Scale & Type

// Global font sizes for different breakpoints ( applied to html element )

$font-size: 			100%;
$font-size-m: 			100%;
$font-size-l: 			112.5%;
$font-size-xl: 			125%;

// Type defaults ( used when calling typesize() )

$type_size: 			1rem;
$type_size_ie: 			16px;

// size defaults ( used when calling base() )

$base: 					1.5rem;
$base_ie: 				24px;

// Typography Sizes (add for each breakpoint as required)

// font size bases
$p:						typesize(1);
$lead:					typesize(1.4);
$h1:					typesize(4);
$h2:					typesize(3); 
$h3:					typesize(2);

// Weights
$medium: 				400;
$bold: 					700;

// Grid settings (SUSY)

$total-columns: 		6;  
$column-width: 			6%;  
$gutter-width: 			2.3333333333%;  
$grid-padding: 			0;
$container-width: 		92%;

// Column

$columns_s:				6;
$columns_m:				12;
$columns_l:				12;
$columns_xl:			12;

// $media-layout: min-width mq | total columns | max-width mq
$s: 					0 $columns_s 640px;
$m: 					641px $columns_m 880px;
$m_up: 					641px $columns_m  lt-ie9;
$l: 					881px $columns_l 1200px;
$l_up: 					881px $columns_l  lt-ie9;
$xl: 					1200px $columns_xl;	
$ie: 					0 $columns_l lt-ie9;			

// Font Stack
$heading_font: 			'vollkorn', georgia, sans-serif;
$body_font: 			$heading_font;

// Box sizing
$border_box: 			true;

// Border Radius
$radius:				4px;

