
// colour.scss
// define basic colours and then apply them to vars
// e.g. $blue and $nav_bg: $blue;

$blue:					#03a7ff;
$spice_orange: 			#e86118;
$turquoise: 			#41bdb6;

// Links / Anchors

$link: 					$blue;
$link_hover: 			lighten($link,10%);
$link_visited: 			$link;

// Element Colours / Gradients

$text_colour:			#2e3131;