
// colour.scss
// define basic colours and then apply them to vars
// e.g. $blue and $nav_bg: $blue;

$clr_blue:					#3498db;
$clr_green: 				#2ecc71;
$clr_orange:				#f38728;
$clr_red:					#e74c3c;
// ui colors

$clr_default: 				$clr_blue;
$clr_success: 				$clr_green;
$clr_warning: 				$clr_orange;
$clr_error: 				$clr_red;

// Links / Anchors

$link: 					$clr_blue;
$link_hover: 			darken($link,10%);
$link_visited: 			$link;

// Element Colours / Gradients

$text_colour:			#2e3131;