// functions.scss
// all functions and mixins go here

////
 // Whole Baseline
 // This function checks to see if the font size
 // multiplied by the baseline is a whole number.
 // If not it rounds up the font size to ensure that 
 // the baseline is a whole number, therefore a whole
 // pixel. This fixes browser inconsistencies of rendering
 // sub pixels.
////

@function whole_baseline($font_size,$baseline){

	// If its a whole number
	@if( round($font_size * $baseline) == $font_size * $baseline ){
		@return percentage($font_size / 16);
	} @else {
		@return percentage(round($font_size * $baseline) / $baseline / 16);
	}
}

// Clearfix

@mixin clearfix() {
	*zoom:1;
	&:before, &:after {
	    content:"";
	    display:table;
	}
	&:after { clear:both; }
}

// Modernizr
// Call this mixin to only apply styles on supported 
// browsers anddevices.
// The ampersand pulls in the parent selector

@mixin modernizr($selector){

	#{$selector} &	{
		@content;
	}
}

// handle all units with a sensible IE fallback

@function typesize($multiplier:1){
	//$is_ie is global and set in style.scss/ie.scss
	@if( $is_ie == true ){
		@return ($multiplier * $type_size_ie);
	} @else {
		@return $multiplier * $type_size;
	}
}

// handle all units with a sensible IE fallback

@function size($multiplier:1){
	//$is_ie is global and set in style.scss/ie.scss
	@if( $is_ie == true ){
		@return $multiplier * $base_ie;
	} @else {
		@return $multiplier * $base;
	}
}


// Output SUSY grid

@mixin susy_grid($class,$columns,$total_columns,$bp_name:null){

	$grid_class: null;
	$push_class: null;

	@if($bp_name == null){
		$grid_class: #{$class}__#{$columns}-#{$total_columns};
		$push_class: #{'.push'}__#{$columns}-#{$total_columns};
	} @else {
		$grid_class: #{$class}__#{$columns}-#{$total_columns}--#{$bp_name};
		$push_class: #{'.push'}__#{$columns}-#{$total_columns}--#{$bp_name};
	}

	// Regular class
	#{$grid_class}{
		@include span-columns($columns,$total_columns);
	}

	// Omega Class

	#{$grid_class}--omega{
		@include span-columns($columns omega,$total_columns);
	}

	// Push Class

	#{$push_class}{ 
		@include push($columns,$total_columns);
	}
}

// Grid generator

@mixin create_grid($prefix,$total_columns,$bp_name:null,$breakpoint:null){

	@if($breakpoint == null){
		@for $i from 1 through $total_columns - 1 {
			@include susy_grid($prefix,$i,$total_columns,null);
		}
	} @else {
		@include at-breakpoint( $breakpoint ){
			@for $i from 1 through $total_columns - 1 {
				@include susy_grid($prefix,$i,$total_columns,$bp_name);
			}
		}
	}	
}




