// config.scss
// variables that control global stuff:
// grids, units font sizes etc

// Scale & Type

// Global font sizes for different breakpoints ( applied to html element )

$font-size: 			100%;
$font-size-m: 			100%;
$font-size-l: 			112.5%;
$font-size-xl: 			125%;

// Type size default ( used when calling typesize() )

$type_size: 			1rem;

// Base unit (1.5x default font size)

$base: 					1.5rem;

// Font Sizes

$h1:					typesize(3);
$h2:					typesize(2.25); 
$h3:					typesize(1.75);
$h4:					typesize(1.125);
$p:						typesize(1);
$lead:					typesize(1.5);

// Font Weights

$light: 				300;
$medium: 				400;
$semibold: 				600;
$bold: 					700;

// Font Stack

$heading_font: 			helvetica, arial, sans-serif;
$body_font: 			$heading_font;

// Grid Settings

$columns_s:				6;
$columns_m:				12;
$columns_l:				12;
$columns_xl:			12;

// Column to gutter ratio (column-width+gutter_width should equal 100)

$column_width: 			80%;						
$gutter_width: 			20%;

// Set up the default grid column class

$grid_class: 			'.grid__item';

// Media Queries
	
$s: 					0, 		640px;
$m: 					641px,	880px;
$m_up: 					641px,	null;
$l: 					881px, 	1200px;
$l_up: 					881px,	null;
$xl: 					1200px,	null;

// Establish grids at each breakpoint

@include fb_grid(#{$grid_class}, $columns_s);
@include fb_grid(#{$grid_class}, $columns_m, 'm-up', $m_up);
@include fb_grid(#{$grid_class}, $columns_l, 'l-up', $l_up);

// Box sizing

$border_box: 			true;

// Border Radius

$radius:				3px;