////
/// Grid Setup
/// 
/// define basic colours and then apply them to vars
/// prefix colour variables with 'clr'
/// @author Rory Ashford
////

// Colours
$clr_gray:          #636767;

// UI Color Map
$colors: (
    text: (
        default:    $clr_gray
    ),
    links: (
        default:    blue,
        hover:      darken(blue,15%),
        visited:    blue
    )
);


// clr function for outputting map[ped data above
@function clr($element, $color, $map: $colors) {
    @return map-get(map-get($map, $element), $color);
}