/**
 * Styles for the included example Delete as you like
 */

// Type Overrides

h1,h2,h3,h4,h5,h6{
	letter-spacing: -1px;
}

p{
	line-height: 1.4;
}

// Layout 

.main{	
	@include at-breakpoint($l_up){
		@include span-columns(9 omega,12);
	}

	h1{
		border-bottom: 1px solid #bbb;
		padding: 0;
	}
}

.site-header{
	@include at-breakpoint($l_up){
		@include span-columns(3, 12);
	}

	@include at-breakpoint($xl){
		@include span-columns(2, 12);
	}
}

// Logo

.site-logo{
	margin-bottom: size(0.5);
	display: block;
}

	.site-logo__img{
		float: right;
		width: 70px;
		height: 70px;
		background: #010101 url('assets/imgs/logo-dark.png') no-repeat;
		background: #010101 url('assets/imgs/logo.svg') no-repeat, none;
		background-size: cover;
	}

.logo {

}



// Nav

/**
 Not sure where to document this yet.
 NEW MENU CLASSES

.menu-prefix{}
.menu-prefix__item{}
.menu-prefix__item--active{}
.menu-prefix__item--parent{}
.menu-prefix__item--(id){}

.menu-prefix__sub--(depth){}
.menu-prefix__sub--(depth)__item{}
.menu-prefix__sub--(depth)__item--active{}
.menu-prefix__sub--(depth)__item--parent{} 
 */


/* Navigataur would work nicely here */

// Primary nav container
.primary-nav{   
    margin-bottom: size(1); 
}

	// The main ul
	.main-menu, .main-menu__sub-menu{
		margin: 0;
		text-align: right;
    }
	
	// Menu item
	.main-menu__item{ 
		margin: 0;
		font-size: typesize(1);
		list-style: none;
	}
	
		// Menu item link (block level element with padding + margin applied)
		.main-menu__item a{
	    	display: block;
	    	color: $text_colour;
	    	padding: size(0.5) 0;
	    	border-bottom: 1px solid #eee;
	    	font-weight: $medium;
		}
		
		// Menu item hover
	    .main-menu__item > a:hover{
			color: $link;
	    }

		// The active page
	    .main-menu__item--active > a,
	    .main-menu__item--active > a:visited{
	        color: $link;
	        font-weight: $medium;
	    }

// pad all the content at the top

.content{
	padding: size(1) 0 0 0;

	@include at-breakpoint($l_up){
		padding: size(2) 0 0 0;
	}
}

// Footer

.site-footer{
	border-top: 1px solid #ccc;
	p {
		margin: 0;	
		padding: size(1) 0;
	}
}