/**
 * Styles for the included example Delete as you like
 */

// Type Overrides

h1,h2,h3,h4,h5,h6{
	letter-spacing: -1px;
}

p{
	line-height: 1.4;
}

// Layout 

.main{	
	@include at-breakpoint($m_up){
		@include span-columns(9 omega,12);
	}


	@include at-breakpoint($xl){
		@include span-columns(9 omega,12);
	}

	h1{
		border-bottom: 1px solid #bbb;
		padding: 0;
	}
}

.site-header{
	position: relative;
	@include at-breakpoint($s){
		background:  #010101;
		@include bleed(1);	
		margin-bottom: size(2);
	}

	@include at-breakpoint($m){
		@include span-columns(3, 12);
	}

	@include at-breakpoint($l_up){
		@include span-columns(2, 12);
	}
}

// Logo

.site-logo{
	margin: size(0.25) 0 0 0;
	display: block;
	float: left;
	@include at-breakpoint($m_up){
		float: none;
	}
}

	.site-logo__img{
		width: 40px;
		height: 40px;
		background: #010101 url('assets/imgs/logo-dark.png') no-repeat;
		
		@include modernizr('.svg'){
			background: #010101 url('assets/imgs/logo.svg') no-repeat;
			background-size: contain;
		}

		@include at-breakpoint($m_up){
			width: 70px;
			height: 70px;
			float: right;
		}

		background-size: cover;
	}

//mobile menu toggle

.menu-toggle-checkbox{
	visibility: hidden;
}

.menu-toggle{
	display: block;
	width: 40px;
	height: 40px;
	margin: size(0.25) 0;
	//border: 2px solid #fff;
	float: right;
	outline: none; 
	position: relative; 
	cursor: pointer; 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	user-select: none;

	@include modernizr('.svg'){
		background: #010101 url('assets/imgs/menu-btn.svg') no-repeat;
		background-size: contain;
	}

	@include at-breakpoint($m_up){
		display: none;
	}
}

.menu-toggle-checkbox:checked + .primary-nav{
	display: block;
}	

/* Navigataur would work nicely here */

// Primary nav container
.primary-nav{   
    display: none;
    margin-top: 30px;
    @include at-breakpoint($m_up){
    	display:block;
    }
}

	// The main ul
	.main-menu, .main-menu__sub-menu{
		margin: 0;
		
    }
	
	// Menu item
	.main-menu__item{ 
		margin: 0;
		font-size: typesize(1);
		list-style: none;

	}
	
		// Menu item link (block level element with padding + margin applied)
		.main-menu__item a{
	    	display: block;
	    	color: #fff;
	    	padding: size(0.5) 0;
	    	border-bottom: 1px solid #bbb;
	    	font-weight: $medium;
	    	text-align: center;
	    	
	    	@include at-breakpoint($s){
	    		@include bleed(1);
	    		background: lighten(#010101,25%);
	    		border-bottom: 1px solid lighten(#010101,20%);
	    	}

	    	@include at-breakpoint($m_up){
	    		color: $text_colour;
	    		background: none;
	    		text-align: right;
	    	}
		}
		
		// Menu item hover
	    .main-menu__item > a:hover{
			color: $link;
	    }

		// The active page
	    .main-menu__item--active > a,
	    .main-menu__item--active > a:visited{
	        color: $link;
	        font-weight: $medium;
	        background: lighten(#010101,30%);
	        @include at-breakpoint($m_up){
				background: none;
	        }
	    }

// pad all the content at the top

.content{

	@include at-breakpoint($m_up){
		padding: size(2) 0 0 0;
	}
}

// Footer

.site-footer{
	border-top: 1px solid #ccc;
	p {
		margin: 0;	
		padding: size(1) 0;
	}
}