/**
 * global.scss
 * Document and Grid setup
 * Font default declarations
 */

// If $border-box is true then use box sizing border box

*{
	margin: 0;
    padding: 0;
    position: relative;

    @if($border_box == true){
		@include box-sizing(border-box);
	}
}

// Clearfix

.clear{
	@include clearfix();
}

html { 
	line-height: 1.5;

	font-size: $font-size;
	@include at-breakpoint($m){
		font-size: $font-size-m;
	}
	@include at-breakpoint($l){
		font-size: $font-size-l;
	}
	@include at-breakpoint($xl){
		font-size: $font-size-xl;
	}
}

body {
	color: $text_colour;
	font-family: $body_font;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	@include container;
	@include at-breakpoint($l_up){ 
		width: 95%;
		max-width: 1200px; 
	}
}

.lt-ie9 .wrapper{
	width: 1000px;
}