/*
 * Wordpress Specific CSS
 * Required if the theme is to go on the wp.org repo
 */

.alignleft{
	float: none;
	display: block;
}

.alignright{
	float: none;
	display: block;
}

.wp-caption{
	background: red;
}

	.wp-caption-text{
		color: #fff;
	}

.sticky{
	font-weight: bold;
} 

.gallery-caption{
	background: red;
}

.bypostauthor{
	font-weight: bold;
}

.aligncenter{
	margin: 0 auto;
}