/**
 * _buttons.scss
 * Buttons
 */

.btn{
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: typesize(16);
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    webkit-font-smoothing: antialiased;

    &:hover{
        text-decoration:none;
    }

    &:focus{
        box-shadow: none;
    }
}

