/**
 * _grid.scss
 * Responsive grids setup
 */

$columns_s: 6;
$columns_m: 12;
$columns_l: 12;


// Content wrapper

.wrapper {
	margin: 0 auto;
	width: 90%;
	@include at-breakpoint($l_up){ 
		width: 90%;
		max-width: 1100px; 
	}
}

// Grid setup
// Establish grids at each breakpoint

@include generate_grid($grid_class, $push_class, $columns_s);
@include generate_grid($grid_class, $push_class, $columns_s,  '--s', $s);
@include generate_grid($grid_class, $push_class, $columns_m, '--m-up', $m_up);
@include generate_grid($grid_class, $push_class, $columns_l, '--l-up', $l_up);