/**
 * _grid.scss
 * Responsive grids setup
 */

/**
 * Debug
 */

$debug_active: true;

/**
 * Content wrapper
 */

.wrapper {
    margin: 0 auto;
    width: 90%;
    @include at-breakpoint($l){ 
        width: 90%;
        max-width: 1100px; 
    }
}


/**
 * Grid setup
 * Define grids here
 */

/**
 * Small Grid
 */

$default_grid: (
    options (
        columns         6,
        suffix          null,
        breakpoint      null,
        gutter          30px
    ),
    debug (
        display         $debug_active,
        background      #13a2f7,
        name            'Small'
    )
);

@include generate_grid($default_grid);

/**
 * Medium Grid
 */

$medium_grid: (
    options (
        columns         12,
        suffix          'm',
        breakpoint      $m,
        gutter          30px
    ),  
    debug (
        display         $debug_active,
        background      #9ed927,
        name            'Medium'
    )
);

@include generate_grid($medium_grid);

/**
 * Large Grid
 */

$large_grid: (
    options (
        columns         12,
        suffix          'l',
        breakpoint      $l,
        gutter          30px
    ),
    debug (
        display         $debug_active,
        background      #ff645f,
        name            'Large',
    )
);

@include generate_grid($large_grid);
