/////
// Images
////

// Make images responsive by default
img{
    width: auto;        // IE8 Fix
    max-width: 100%;    // Responsive Images
    height: auto;
	vertical-align: middle;
}

// Remove border on images wrapper with an anchor
a img{
	outline: none;
    border: 0;
}