
/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

// Shared paragraph sizes

p,
ul,
ol,
input, 
textarea{
    font-weight: $medium;
    font-size: $size_p;
}

// Paragraph Styles

p{

}

    // Big text ideal for the first paragraph in an article

    .lead{
        font-size: $size_lead;
    }

    // Small type ideal for captions

    .small{
        font-size: $size_small;
    }

// Links

a,
a:visited{
    color: $link;
    text-decoration: none;
    display: inline-block;
    webkit-font-smoothing: antialiased;
    background-image: linear-gradient(to top,
        rgba(0,0,0,0) 11%,
        $text_colour 11%,
        $text_colour 16%,
        rgba(0,0,0,0) 16%
    );
}

a:hover{
    color: $link_hover;
    text-decoration: none;
    background-image: linear-gradient(to top,
        rgba(0,0,0,0) 11%,
        $link_hover 11%,
        $link_hover 16%,
        rgba(0,0,0,0) 16%
    );
}


// Headings

h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
    font-weight: $bold;
}

h1{ 
    font-size: $size_h1;
}

h2{ 
    font-size: $size_h2;
}

h3{ 
    font-size: $size_h3;
}

// Text transforms

strong{ font-weight: bold; }

em{ font-style: italic; }

// Lists

ul {    
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
    font-weight: normal;
}

// Pre

pre{
    font-size: rem(13);
    padding: rem(10) rem(20);
    background: #102d48;
    color: white;
    margin-bottom: rem(24);
}