
/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

// Shared paragraph sizes

p,
ul,
ol,
input, 
textarea{
    font-weight: $medium;
    font-size: $size_p;
}


// links within paragraphs
// Extends %link

p a,
p a:visited{
    @extend %link;
}


// Headings

h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
    font-weight: $bold;
}

h1{ 
    font-size: $size_h1;
}

h2{ 
    font-size: $size_h2;
}

h3{ 
    font-size: $size_h3;
}

// Text transforms

strong{ font-weight: bold; }

// Italics

em{ font-style: italic; }

// Lists

ul {    
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
    font-weight: normal;
}

// Pre

pre{
    font-size: rem(13);
}