
/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

// Shared paragraph sizes
p,
ul,
ol,
input, 
textarea{
    font-weight: $medium;
    font-size: $size_p;
    margin-bottom: $base;

    &:last-child{
        margin-bottom:0;
    }
}

// Links
a {
    color: color(link,default);
    text-decoration: none;
    display: inline-block;
}

    a:hover{
        color: color(link,hover);
    }

p a,
p a:visited{
    text-decoration: underline;
}


// Headings
h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
    font-weight: $bold;
    margin-bottom: $base;
    color: clr(text,heading);
}

h1{ 
    font-size: $size_h1;
}

h2{ 
    font-size: $size_h2;
}

h3{ 
    font-size: $size_h3;
}


// Lists
ul,ol {    
    margin-left: $base;
}


// Text align classes
.txt-left{
    text-align: center;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}