/**
 * Buttons
 */

.btn, input[type="submit"].btn{
	display: block;
	background: $clr_default;
	border: none;
	min-width: size(4);
	margin: 0 0 size(1) 0;
	padding: size(0.5) size(0.75);
	@include border-radius($radius);
	outline: none;
	font-size: typesize(0.75);
	font-family: inherit;
	color: #fff;
	cursor: pointer;

	&:hover{
		background: lighten($clr_default,5%);
	}

	&:active{
		background: darken($clr_default,5%);
	}

	&:visited{
		color: #fff;
	}
}

.btn--success, input[type="submit"].btn--success{

	background: $clr_success;

	&:hover{
		background: lighten($clr_success,5%);
	}

	&:active{
		background: darken($clr_success,5%);
	}
}

.btn--warning, input[type="submit"].btn--warning{

	background: $clr_warning;

	&:hover{
		background: lighten($clr_warning,5%);
	}

	&:active{
		background: darken($clr_warning,5%);
	}
}

.btn--problem, input[type="submit"].btn--warning{

	background: $clr_problem;

	&:hover{
		background: lighten($clr_problem,5%);
	}

	&:active{
		background: darken($clr_problem,5%);
	}
}


