/**
 * Buttons
 */
	
.btn {
	display: block;
	background: $link;
	border: none;
	height: base(1.5);
	margin: 0 0 base(0.5) 0;
	padding: 0 base(0.5);
	color: #fff;
	@include border-radius($radius);
	outline: none;
}

	.btn:hover{
		background: lighten($link,5%);
		color: #fff;
	}

	.btn:visited{
		color: #fff;
	}