/**
 * Forms
 */

form{
	font-family: $body_font;
}

input[type="text"], 
input[type="password"],
textarea{
	display: block;
	margin: 0 0 size() 0;
	width: 100%;
	height: size();
	border: 0;
	padding: 0 size(0.25); 
	outline: none;
	@include border-radius($radius);
	border: 1px solid darken(#ccc,15%);
	&:focus{
		background: #eff;
		@include box-shadow(inset $blue 0 0 5px);
	}
}

input[type="text"], 
input[type="password"]{
	
}

textarea{
	height: size(6);
}

input[type="submit"]{
	@extend .btn;
}