/**
 * Table styling
 */

table { 
	width: 100%;
	background: #fff;
	//border: 1px solid #949393;
	margin-bottom: size(1);
	font-size: typesize(1);
	border-collapse: collapse;
	margin-bottom: size(1);
}

	thead{
		background: $clr_default;
		color: #fff;
		text-align: left;
	}

	tbody tr:nth-child(odd) {background: #f1f1f1}
	tbody tr:nth-child(even) {background: #eae8e8}

	th,td{
		padding: size(0.5);
	}

	th{
		font-weight: $medium;		
		font-family: $heading_font;
		font-size: typesize(1.2);
	}