# XSS-Protection
# https://kb.sucuri.net/warnings/hardening/headers-x-xss-protection

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
</IfModule>


# X-Frame-Options
# https://kb.sucuri.net/warnings/hardening/headers-x-frame-clickjacking

<IfModule mod_headers.c>
  Header always append X-Frame-Options SAMEORIGIN
</IfModule>


# X-Content-Type: nosniff
# https://kb.sucuri.net/warnings/hardening/headers-x-content-type

<IfModule mod_headers.c>
  Header set X-Content-Type-Options nosniff
</IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /barebones/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /barebones/index.php [L]
</IfModule>

# END WordPress
