////
// config.scss
// variables that control global stuff:
// grids, units font sizes etc

// Scale & Type

$base: 2.4rem;

$font-size: 62.5%;

// Grid settings (SUSY)

$total-columns: 		6;  
$column-width: 			6%;  
$gutter-width: 			2.3333333333%;  
$grid-padding: 			0;
$container-width: 		92%;

// Column

$columns_s:				6;
$columns_m:				12;
$columns_l:				12;
$columns_xl:			12;

// $media-layout: min-width mq | total columns | max-width mq

$s: 					0 $columns_s 640px;
$m: 					641px $columns_m 880px;
$m_up: 					641px $columns_m  lt-ie9;
$l: 					881px $columns_l 1200px;
$l_up: 					881px $columns_l  lt-ie9;
$xl: 					1200px $columns_xl;	
$ie: 					0 $columns_l lt-ie9;			

// Font Stack

$heading_font: 			'vollkorn', georgia, sans-serif;
$body_font: 			$heading_font;

// Box sizing

$border_box: 			true;

// Border Radius

$radius:				4px;

// Typography Sizes (add for each breakpoint as required)

// Para

$p_xl:					2.2rem;
$p_l:					2rem;
$p_m:					1.8rem;
$p_s:					1.6rem;

// h1

$h1_xl:					6.4rem;
$h1_l:					$h1_xl * 0.8;
$h1_m:					$h1_xl * 0.6;
$h1_s:					$h1_xl * 0.6;

// h2

$h2_xl:					4.8rem; 
$h2_l:					$h2_xl * 0.8; 
$h2_m:					$h2_xl * 0.6; 
$h2_s:					$h2_xl * 0.6; 

// h3

$h3_xl:					3.6rem;
$h3_l:					$h3_xl * 0.8; 
$h3_m:					$h3_xl * 0.6; 
$h3_s:					$h3_xl * 0.6; 

// Weights

$medium: 				400;
$bold: 					700;

