/**
 * colour.scss
 * define basic colours and then apply them to vars
 * prefix colour variables with 'clr'
 */

$clr_blue:              #e3446d;

// ui colors

$text_colour:           #2e3131;

// Links / Anchors

$link:                  $text_colour;
$link_hover:            $clr_blue;
$link_visited:          $text_colour;