////
// Fluid Backgrounds
// 
// Mixin used where fluid, scalable background 
// images are needed.
// 
// `background-image` must be defined outside
// the mixin and make sure not to use the background 
// shortcode.
// 
// @arg {bool} $fixed - Should the background attachment be fixed to the page (no scrolling bg)
// 
// @example scss - Fluid Background Image
//     @include fluid-background(true);
////
@mixin fluid-background($fixed:false){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @if($fixed){
        background-attachment: fixed;
    }
}

////
// Fluid bg
// An alias of fluid-background because forgetful!
// 
// @alias fluid-bg
////
@mixin fluid-bg($fixed:false){
    @include fluid-background($fixed);
}