// Links
// Generic style of links with underline, ideal for within paragraphs and blocks of text

%link {
    color: $link;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to top, rgba(0,0,0,0) 11%, $text_colour 11%, $text_colour 16%, rgba(0,0,0,0) 16%);

    &:hover{
        color: $link_hover;
        text-decoration: none;
        background-image: linear-gradient(to top, rgba(0,0,0,0) 11%, $link_hover 11%, $link_hover 16%, rgba(0,0,0,0) 16%);
    }

}