////
// Typography
////

// shared type styles for common elements
p,
ul,
ol,
input, 
textarea{
    font-weight: $medium;
    margin-bottom: $base;

    &:last-child{
        margin-bottom:0;
    }
}

// Links
a {
    text-decoration: none;
    display: inline-block;
}
    // Link hover state
    a:hover{
        color: color(link,hover);
    }

// Paragraph link
p a,
p a:visited{
    text-decoration: underline;
}

// Headings
h1,h2,h3,h4,h5,h6{
    font-family: $heading_font;
    font-weight: $bold;
}

h1{ 
    font-size: $size_h1;
}

h2{ 
    font-size: $size_h2;
}

h3{ 
    font-size: $size_h3;
}

// Lists
ul,ol {    
    margin-left: $base;
}