/**
 * _grid.scss
 * Not another f****** grid system!
 */
/**
 * Generate grid
 * pulls together the grid wrapper, columns and gutter settings
 * call once per required breakpoint
 */
/**
 * Generate setup & output
 */
.grid {
  margin-left: -30px;
}

.grid--full {
  margin-left: 0;
}
.grid--full > [class^="col--"] {
  padding-left: 0;
}

[class^="col--"] {
  position: relative;
  float: left;
  padding-left: 30px;
}
