/**
 * colour.scss
 * define basic colours and then apply them to vars
 * e.g. $blue and $nav_bg: $blue;
 */


$blue:					#03a7ff;

// Links / Anchors

$link: 					$blue;
$link_hover: 			darken($blue,5%);
$link_visited: 			$blue;

// Element Colours / Gradients

$text_colour:			#525252;