// HELPER - CONFIG
// Document and Grid setup
// Font default declarations

// Base Units

$base_unit: 		0.625rem;	//same as desktop font base
$vertical_unit:		1.5rem;

// Grid settings (SUSY)
// Susy vars don't follow underscore rules 

//$total-columns: 	6;  
$column-width: 		60%;  
$gutter-width: 		20%;  
$grid-padding: 		0;

//Column
$columns_mobile:	6;
$columns_tablet:	12;
$columns_desktop:	12;
$columns_bigscreen:	12;

//$media-layout: min-width mq | total columns | max-width mq
$mobile: 			0 $columns_mobile 40rem;
$tablet: 			40rem $columns_tablet 55rem;
$tablet_up: 		40rem $columns_tablet;
$desktop: 			55rem $columns_desktop 75rem;
$desktop_up: 		55rem $columns_desktop;
$bigscreen: 		75rem $columns_bigscreen;

// Font Stack

$heading_font: 		"brandon-grotesque",helvetica, arial, sans-serif;
$body_font: 		"ff-tisa-web-pro",georgia, times, "times new roman" sans-serif;

// Base Type sizes for (The key to everything!)

$mobile_font_base: 87.5%;
$tablet_font_base: 100%;
$desktop_font_base: 100%;
$bigscreen_font_base: 112.5%;

// Typographic units

$paragraph_size:	1rem; 
$h1_size:			2.3rem;  
$h2_size:			2rem;  
$h3_size:			1.8rem;  
$h4_size:			1.5rem;  

// Wrapper width

//$wrapper_width_desktop:

// Box sizing
$border_box: 		true;