// HELPER - COLOUR

// Core design/ brand colours are defined here
// Default Link Colours are also defined here


$blue:					#03a7ff;
$dark_blue:				#077bdd;

// Links / Anchors

$link: 					$blue;
$link_hover: 			$dark_blue;
$link_visited: 			$blue;

// Element Colours / Gradients
 