// HELPER - CONFIG
// Document and Grid setup
// Font default declarations

// Base Units

$base_unit: 		0.625rem;	//same as desktop font base
$vertical_unit:		1.5rem;

// Grid settings (SUSY)
// Susy vars don't follow underscore rules 

//$total-columns: 	6;  
$column-width: 		40%;  
$gutter-width: 		30%;  
$grid-padding: 		0;

//Column
$columns_mobile:	6;
$columns_tablet:	12;
$columns_desktop:	12;
$columns_bigscreen:	12;

//$media-layout: min-width mq | total columns | max-width mq
$mobile: 			0 $columns_mobile 650px;
$tablet: 			651px $columns_tablet 900px;
$desktop: 			901px $columns_desktop;
$bigscreen: 		1201px $columns_bigscreen;

// Font Stack

$heading_font: 		helvetica, arial, sans-serif;
$body_font: 		georgia, times, "times new roman" sans-serif;

// Typographic units (golden ratioish shizzle)

$paragraph_size:	1; //16 desktop
$h1_size:			3;  //36
$h2_size:			2.5;  //36
$h3_size:			2;  //36
$h4_size:			1.5;  //36

// Wrapper width

//$wrapper_width_desktop:

// Box sizing
$border_box: 		true;