/**
 * config.scss
 * variables that control global stuff:
 * grids, units font sizes etc
 */

// Base Units

$base:					1.5rem;

// Grid settings (SUSY)
// Susy vars don't follow underscore rules 

// $total-columns: 		6;  
$column-width: 			60%;  
$gutter-width: 			20%;  
$grid-padding: 			0;

// Column
$columns_s:				6;
$columns_m:				8;
$columns_l:				12;
$columns_xl:			12;

// $media-layout: min-width mq | total columns | max-width mq
$s: 					0 $columns_s 640px lt-ie9;
$m: 					641px $columns_m 880px lt-ie9;
$m_up: 					881px $columns_m lt-ie9;
$l: 					881px $columns_l 1200px lt-ie9;
$l_up: 					881px $columns_l lt-ie9;
$xl: 					1200px $columns_xl lt-ie9;					

// Font Stack

$heading_font: 			helvetica, arial, sans-serif;
$body_font: 			georgia, times, "times new roman" sans-serif;

// Base Type sizes for (The key to everything!)

$s_font_base: 			87.5%;	//14px
$m_font_base: 			100%;  	//16px
$l_font_base: 			112.5%; //18px
$xl_font_base: 			125%; 	//24px

// Typographic units

$paragraph_size:		1rem; 
$h1_size:				3.2rem;  
$h2_size:				2rem;  
$h3_size:				1.8rem;  
$h4_size:				1.5rem;  

// Box sizing
$border_box: 		true;