// HELPER - CONFIG
// Document and Grid setup
// Font default declarations

// Base Unit

$base_unit: 		10px;	//same as desktop font base

// Grid settings (SUSY)

$total-columns: 	6;  
$column-width: 		60%;  
$gutter-width: 		20%;  
$grid-padding: 		0;

//$media-layout: min-width mq | total columns | max-width mq
$mobile: 			0 6 650px;
$tablet: 			651px 12 900px;
$desktop: 			901px 12;
$bigscreen: 		1201px 12;

// Font Stack

$heading_font: 		helvetica, arial, sans-serif;
$body_font: 		georgia, times, "times new roman" sans-serif;

// Typographic units (golden ratioish shizzle)

$vr_mobile: 	2.4;
$vr_tablet: 	2.3;
$vr_desktop: 	2.6;
$vr_bigscreen: 	2.8;

$font_mobile: 	1.5;
$font_tablet: 	1.4; 
$font_desktop: 	1.6;
$font_bigscreen:1.7;

$h1_mobile:		$font_mobile * 3;
$h1_tablet:		$font_tablet * 3;
$h1_desktop:	$font_desktop * 3;
$h1_bigscreen:	$font_bigscreen * 3;

$h2_mobile:		$font_mobile * 2.5;
$h2_tablet:		$font_tablet * 2.5;
$h2_desktop:	$font_desktop * 2.5;
$h2_bigscreen:	$font_bigscreen * 2.5;

$h3_mobile:		$font_mobile * 2;
$h3_tablet:		$font_tablet * 2;
$h3_desktop:	$font_desktop * 2;
$h3_bigscreen:	$font_bigscreen * 2;

$h4_mobile:		$font_mobile * 1.5;
$h4_tablet:		$font_tablet * 1.5;
$h4_desktop:	$font_desktop * 1.5;
$h4_bigscreen:	$font_bigscreen * 1.5;


// Box sizing
$border_box: true;

