/**
 * gridtacular.scss:
 * Grid and baseline overlay combined with breakpoint
 * Information
 */


/* Columns Mixin */

@mixin gridtacular_columns($breakpoint,$columns) {
	
	@include at-breakpoint($breakpoint){ 
		
		@include span-columns(1,$columns); 

		&:nth-child(#{$columns}){ 
			@include span-columns(1 omega,$columns); 
		}

		&:nth-child(n + #{$columns + 1} ){
			display: none;
		}
		
		//background: rgba(20,255,160,0.1);
	}
}

body{
	// Ensures that gridtaculars position fixed doesnt screw with the html element height
	position: relative;
}

.gridtacular{
		position:fixed;
		bottom:0;
		right:0;
		z-index:10000;
		width: 55px;
		color: #fff;
		list-style: none; 
		margin:0; 
		padding:0;
		font-size:13px;
		line-height: 18px;
		font-family: Monaco, "Courier New", Courier, monospace;

		li{
			display: block;
			padding: 10px;
		}

		a{
			display: block;
		}

		img{
			display: block;
		}

}

	.gridtacular__width{
		background:#41bd89;
	}

	.gridtacular__height{
		background:#2a4c5f;
	}
		
		.gridtacular__width__bg{
			position: absolute;
			color: #33996e;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
		}

	.gridtacular__breakpoint{
		background:#d06857;
	}
	
	.gridtacular__baseline-toggle{
		background:#b7c725;
	}
	
	.gridtacular__grid-toggle{
		background:#41bdb6;
	}

.gridtacular__baseline-overlay{
	display: none;
	position: absolute;
	width: auto;
	overflow: hidden;
	z-index: 100;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// Using a 50px high background image but resizing it down to 
	background-image: url("images/baseline.png"); 
	// Realistic baseline heights it appears as a hairline stroke!
	background-size: 100% $base;
}

.gridtacular__grid-overlay{
	display: none;
	position: absolute;
	width: auto;
	z-index: 100;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	.col{ 
		border-left: 1px solid rgba(210,210,210,0.5);
		border-right: 1px solid rgba(210,210,210,0.5);
		@include span-columns(1,$columns_s); 
		
		// Small breakpoint
		@include gridtacular_columns($s,$columns_s);
		@include gridtacular_columns($m,$columns_m);
		@include gridtacular_columns($l,$columns_l);
		@include gridtacular_columns($xl,$columns_xl);
	}
}