// MIXINS
// 
// All global Mixins go here

// Clearfix
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
	*zoom:1;
	&:before, &:after {
	    content:"";
	    display:table;
	}
	&:after { clear:both; }
}

// Font size/line height mixin using 'rem' -a non cascading modular unit of measurement
// Responsive typography implemented


@mixin font-size($size:$font_mobile){
	font-size: $size * 10px;
	font-size: $size + rem;
}

@mixin line-height($lh:$vr_mobile,$multiplier:1){
	line-height: $multiplier * $lh * 10px;
	line-height: $multiplier * $lh + rem;
}

// margins with vertical rhythm

@mixin vr($element,$line_height,$multiplier){
	#{$element}: $multiplier * $line_height * 10px;
	#{$element}: $multiplier * $line_height + rem;
}

// Baseline mixin

@mixin baseline-grid($element, $size){

	position: absolute;
	width: auto;
	height: 10000px;
	overflow: hidden;
	z-index: 9999;
	content: '';
	display: block;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(http://basehold.it/i/#{$size}) repeat top left;
		

	/*#{$element}:active:after {
		display: none;
	}*/
}

