// MIXINS
// 
// All global Mixins go here

// Clearfix
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
	*zoom:1;
	&:before, &:after {
	    content:"";
	    display:table;
	}
	&:after { clear:both; }
}

// Font size/line height mixin using 'rem' -a non cascading modular unit of measurement
// Responsive typography implemented


@mixin font-size($size:1){
	font-size: $size * 16px;
	font-size: $size + rem;
}

@mixin line-height($lh:$vr_mobile,$multiplier:1){
	line-height: $multiplier * $lh * 10px;
	line-height: $multiplier * $lh + rem;
}

// Baseline mixin

@mixin baseline-grid(){

	position: absolute;
	width: auto;
	height: 10000px;
	overflow: hidden;
	z-index: 100;
	content: '';
	display: block;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("images/baseline.png"); 
	//genius!!!! using a 50px high background image but resizing it down to 
	//realistic baseline heights it appears as a hairline stroke!
	background-size: 100% $vertical_unit; 
	/*@include at-breakpoint($tablet){ background-size: 100% $vr_tablet + rem; }
	@include at-breakpoint($desktop){ background-size: 100% $vr_desktop + rem; }
	@include at-breakpoint($bigscreen){ background-size: 100% $vr_bigscreen + rem; }*/
	/*&:active:after {
		display: none;
	}*/
}

