// Forms
//
// Global form styles go here

// FORMS

fieldset{
	margin-bottom: 20px;
}

legend{

}

label {
	margin-bottom: 10px;
}

input[type="text"], textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 2%;
	margin-bottom: 20px;
}

// BUTTONS
//
// :hover				- 
// :active				- 
	
button, .button, input[type="submit"] {
	
}