/* -- _GLOBAL.SCSS -- */

/*
 * Document and Grid setup
 * Font default declarations
 */


// If $border-box is true then use box sizing border box
@if($border_box == true){
	*{ @include box-sizing(border-box); }
}

// Responsive Images

img{ max-width: 100%; }  

// html/body

html { 
	font-size: $mobile_font_size;
	font-weight: normal;
	@include at-breakpoint($tablet){ font-size: $tablet_font_size; }
	@include at-breakpoint($desktop){ font-size: $desktop_font_size; }
}

body {
	width: 100%;
	color: #5a5a5a;
	font-family: $body_font;
	-webkit-font-smoothing: antialiased;
	@include clearfix();
}

// width with defined width (not 100% of page)

.wrapper {
	@include container($total-columns, $tablet, $desktop);
	width: 95%;
	@include at-breakpoint($desktop){ width: 85%; max-width: 1200px; margin: 0 auto;  }
	@include at-breakpoint($tablet){ max-width: 85%; margin: 0 auto; }
	@include clearfix();
}	