/* -- _GLOBAL.SCSS -- */

/*
 * Document and Grid setup
 * Font default declarations
 */


// If $border-box is true then use box sizing border box
@if($border_box == true){
	*{ @include box-sizing(border-box); }
}

// Responsive Images

img{ max-width: 100%; }  

// html/body

html { 
	font-size: 62.5%;
}

body {
	width: 100%;
	color: #3e3e3e;
	font-family: $body_font;
	-webkit-font-smoothing: antialiased;
	@include clearfix();
}
	.baseline-bg:after {
		@include baseline-grid(body,$vr_mobile * 10);
		@include at-breakpoint($tablet){ @include baseline-grid(body,$vr_tablet * 10); }
		@include at-breakpoint($desktop){ @include baseline-grid(body,$vr_desktop * 10); }
		@include at-breakpoint($bigscreen){ @include baseline-grid(body,$vr_bigscreen * 10); }
	}

// width with defined width (not 100% of page)

.wrapper {
	@include container($total-columns, $tablet, $desktop);
	width: 90%;
	@include at-breakpoint($desktop){ width: 85%; max-width: 1200px; margin: 0 auto;  }
	@include at-breakpoint($tablet){ max-width: 85%; margin: 0 auto; }
	@include clearfix();
}

	.grid-bg{
		@include susy-grid-background;
	}	