/* -- _HEADER.SCSS -- */

/*
 * Header specific declarations
 * Note: navigation has its own document _navigation.scss
 */


.site-header{}

	.site-header__logo{
		display: block;
		height: $vertical_unit*2;
		margin: $vertical_unit*2 0;

		img{
			display: block;
			margin: 0 auto;
		}
	}