/* -- _MOBILE-HEADER.SCSS -- */

/*
 * Style for a mobile header to contain menu button/ search etc
 */
	
	.mobile-header{
		background: $blue;
		@include at-breakpoint($tablet){  display: none; }
		@include at-breakpoint($desktop){ display: none; }
		@include clearfix();
	}

		.mobile-header__button{
			display: inline-block;
			padding: $base_unit*1.5;
			border-right: 1px solid darken($blue,10%);
			@include font-size(1.8);
			font-weight: bold;
			color: #fff;
			&:visited{
				color: #fff;
			}
		}