/* -- _MOBILE-HEADER.SCSS -- */

/*
 * Style for a mobile header to contain menu button/ search etc
 */
	
	.mobile-header{
		background: $blue;
		@include at-breakpoint($tablet){  display: none; }
		@include at-breakpoint($desktop){ display: none; }
		@include clearfix();
	}

		.mobile-header--button{
			display: block;
			margin:  10px;
			padding: 6px 10px;
			border: 1px solid #000;
			background: black;
			width: 25%;
		}