/* -- _NAVIGATION.SCSS -- */

/*
 * All nav menu styles go here
 */

.primary-nav{
        
    display: none;
    margin: 0 0 20px 0;
    @include at-breakpoint($tablet){ display:block; }
    @include at-breakpoint($desktop){ display: block; }

    ul{
        list-style: none;
        @include clearfix();
        margin: 0;
    }

	.menu-item{ float: left; }

	.menu-item a, .menu-item a:visited{
    	display: block;
    	padding: ($base_unit/2) $base_unit;
    	margin: 0 ($base_unit/2);
    }

    .current-menu-item{
        a,a:visited{
            color: #fff;
            background: $blue;
            font-weight: bold;
        }
    }

}

	//dropdown menu main link
    .primary-nav .parent-1{
    	position: relative;
		
		//sub menu
    	> .sub-menu{
            display: none;
            background: #ccc;
    	}
		
		// hover state stuff
		&:hover{
	     	background: #ccc;
				
			> .sub-menu{
	            display: block;
	           
	    	}
	    } 
    }

	.sub-menu{

		position: absolute;
	            
		li a{
			width: 200px;

			&:hover{
				background: lighten(#ccc,10%);
			}
		}

		.menu-item{ float: none; }
	}
    
   

// MOBILE NAVIGATION

.mobile-nav{	
	display: none;
	background: black;
	
	ul{
		list-style: none;
		margin: 0;
		
		a, a:visited{
			color: #fff;
			padding:10px 0;
		}

		> li{
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			
			a, a:visited{ padding-left: 15px; }
		}
		
		.parent {}
		
		.current_page_item{
			border-top: none;
		}	
	}
}