/**
 * navigation.scss
 * All nav menu styles go here
 * Currently the Dropdown only supports 1 level
 */

// Primary nav container
.primary-nav{   
    margin-bottom:$base*2; 
    height: $base*2;
}

	// The first ul
	.primary-nav__menu{
        list-style: none;
        @include clearfix();
        font-family: $heading_font;
		margin: 0;
        border-bottom: 1px solid #ccc;
    }
	
	// Menu item
	.primary-nav__menu > .menu-item{ 
		margin: 0 0 0 0;
		display: inline;
	}
	
	// Menu item link (block level element with padding + margin applied)
	.primary-nav__menu > .menu-item a{
    	display: inline-block;
    	color: $text_colour;
    	padding: 0 $base;
    	font-size: 1.2rem;
    	line-height: $base*2;
}
	
	// Menu item hover
    .primary-nav__menu .menu-item:hover{
		
		a,a:visited{
			//background: $blue; 
			color: $blue;
		}
    }

	// The active page
    .primary-nav__menu > .current-menu-item a,
    .primary-nav__menu > .current-menu-item a:visited,
    .primary-nav__menu > .current-menu-ancestor a,
    .primary-nav__menu > .current-menu-ancestor a:visited,
    .primary-nav__menu > .current-post-parent a,
	.primary-nav__menu > .current-post-parent a:visited{
        color: $blue;
        font-weight: bold;
    }

	// DELETE BELOW IF IT IS A SINGLE TIER MENU


	// Dropdown Parent Style

    .primary-nav__menu .parent{
    	position: relative;	
    }
		// Sub menu
		.primary-nav__menu .parent > .sub-menu{
            display: none; 
            list-style: none;
            margin: 0;
            text-align: left;
    	}
		
		// Hover state stuff
    	.primary-nav__menu .parent:hover > .sub-menu{
	        display: block;
	    } 

		// Styling for sub-menu items

		.primary-nav__menu .sub-menu{
			position: absolute;	
			background: #e7e7e7;
		}

			.primary-nav__menu .sub-menu .menu-item a, 
			.primary-nav__menu .sub-menu .menu-item a:visited{
				width: 200px;
				color: $blue;
				&:hover{ 
					background: darken($blue,5%);
					margin:0;
					color: #fff;
				}
			}

			.primary-nav__menu .sub-menu > .current-menu-item a,
			.primary-nav__menu .sub-menu > .current-menu-item a:visited,
		    .primary-nav__menu .sub-menu > .current-menu-ancestor a,
		    .primary-nav__menu .sub-menu > .current-menu-ancestor a:visited,{
		        color: #fff;
		        background: lighten($blue,10%);
		        font-weight: bold;
		    }