/* -- SIDEBAR.SCSS -- */

/*
 * All sidebar(s) style here
 */

.sidebar {
	
	//background: $lighter_gray;
	@include at-breakpoint($tablet){ @include span-columns(3 omega,8); }	
	@include at-breakpoint($desktop){ @include span-columns(4 omega,12); }
	
	> ul {
		margin: 0;
		> li{
			margin: 0 0 20px 0;
			list-style: none;
		}
	}
}
