/**
 * tables.scss
 * Table styling
 */

table { 
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: $base;
	font-size: 0.75rem;
}

	thead{
		background: $blue;
		color: #fff;
	}

	tbody tr:nth-child(odd) {background: #f1f1f1}
	tbody tr:nth-child(even) {background: #FFF}

	th,td{
		height: $base;
		padding: 0 $base;
	}

	th{
		font-weight: bold;
		height: $base*2;
		font-family: $heading_font;
		font-size:1rem;
	}

	

