/* -- _TYPOGRAPHY.SCSS -- */

/*
 * All Font / Type styles go here
 */

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
}

p,h1,h2,h3,h4,h4,h5,h6,ul,ol,blockquote{
	margin: $base_unit 0;
}

p,ul,ol{
	line-height: 150%;
}

h1,h2,h3,h4,h5,h6,blockquote{
	font-family: $heading_font;
	font-weight: bold;
	line-height: 120%;
	color: #292929;
}

h1{ @include font-size(4); }

h2{ @include font-size(3); }

h3{ @include font-size(2); }

h4{ @include font-size(1.8); }

h5{ @include font-size(1.6); }

p{
	@include font-size(1.6);
	font-weight: normal;
}

strong{ font-weight: bold; }

em{ font-style: italic; }

ul {	
	list-style-type: disc;
	@include font-size(1.6);
	font-weight: normal;
	margin-left: 2 * $base_unit;
	
	li{	
		span{ } //give the span and li differnt colours if you like
	}
}

ol {
	list-style-type: decimal;
	@include font-size(1.6);
	font-weight: normal;
	margin-left: 2 * $base_unit;
	
	li{
		span{  } //give the span and li differnt colours if you like
	}
}

blockquote {
	margin: 0 0 (2 * $base_unit) (2 * $base_unit);
	padding: (2 * $base_unit) 0;
	border-top: 1px solid  #666;
	border-bottom: 1px solid #666;
	
	@include at-breakpoint($tablet){ margin: 0 0 (2 * $base_unit) 0; }
	@include at-breakpoint($desktop){ width: 40%; float:right; }
	
	p{ @include font-size(2.4); text-align: right; }
}
