/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
}

p,h1,h2,h3,h4,h4,h5,h6,ul,ol{
	line-height: $base;
	margin-bottom: $base;
}

h1,h2,h3,h4,h5,h6{
	font-family: $heading_font;
	font-weight: 300;
	color: #292929;
	line-height: $base*2;
}

p{
	font-weight: normal;
	font-size: $paragraph_size;
}

h1{ 
	font-size: $h1_size;
}

h2{ 
	font-size: $h2_size;
}

h3{ 
	font-size: $h3_size;
}

h4{ 
	font-size: $h4_size;
}


strong{ font-weight: bold; }

em{ font-style: italic; }

ul {	
	list-style-type: disc;
	font-size: 1rem;
	font-weight: normal;
	margin-left: $base*2;
	
	li{	
		span{ } //give the span and li different colours if you like
	}
}

ol {
	list-style-type: decimal;
	font-size: 1rem;
	font-weight: normal;
	margin-left: $base*2;
	
	li{
		span{  } //give the span and li different colours if you like
	}
} 

blockquote {
	display:block;
	background: #ccc;
	border-left: 10px solid #666;
	@include span-columns(3 omega,7);
	float: right;
	padding: $base/2 0;

	margin: 0 0 $base gutter();

	p{ 
		font-size: 1.2; 
		text-align: right; 
		line-height: $base;
		font-style: italic;
		padding: 0 $base;
		margin: 0;
	}
}

date p{
	font-weight:bold;
	font-family: $heading_font;
}
