/* -- _TYPOGRAPHY.SCSS -- */

/*
 * All Font / Type styles go here
 */

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
}

p,h1,h2,h3,h4,h4,h5,h6,ul,ol,blockquote{
	line-height: $vertical_unit;
	margin-bottom: $vertical_unit;
	//background: pink;
}

p,ul,ol{
	//line-height: 150%;
}

h1,h2,h3,h4,h5,h6,blockquote{
	font-family: $heading_font;
	font-weight: 300;
	color: #292929;
	//background: pink;
	line-height:$vertical_unit*2;
}

p{
	font-weight: normal;
	@include font-size($paragraph_size);
}

h1{ 
	@include font-size($h1_size);
}

h2{ 
	@include font-size($h2_size);
}

h3{ 
	@include font-size($h3_size);
}

h4{ 
	@include font-size($h4_size);
}


strong{ font-weight: bold; }

em{ font-style: italic; }

ul {	
	list-style-type: disc;
	@include font-size(1);
	font-weight: normal;
	margin-left: 2 * $base_unit;
	
	li{	
		span{ } //give the span and li differnt colours if you like
	}
}

ol {
	list-style-type: decimal;
	@include font-size(1);
	font-weight: normal;
	margin-left: 2 * $base_unit;
	
	li{
		span{  } //give the span and li differnt colours if you like
	}
}

blockquote {
	
	border-top: 1px solid  #666;
	border-bottom: 1px solid #666;
	width: 40%; float:right;
	line-height:$vertical_unit;
	margin-bottom:$vertical_unit;

	
	p{ @include font-size(2); text-align: right; }
}
