/**
 * ui.scss
 * Forms, buttons, icons, breadcrumbs, pagination
 */

/**
 * Forms
 */

fieldset{
	div{
		//margin-top: -0.24rem;
		@include clearfix();
	}
}

legend{
	@extend h2;
}

label {
	font-size: 1rem;
	line-height: $base;
	margin-bottom: $base;
	display: block;
}

input[type="text"], input[type="password"]{
	border: 1px solid #ccc;
	height: $base;
	margin-bottom: $base;
	float: left;
	display: block;
}

textarea{
	border: 1px solid #ccc;
	line-height: $base;
	height: $base*4;
	margin-bottom: $base;
	display: block;
	@include span-columns(4,8);
}

.input[type="radio"]{
	float: left;
}

input[type="submit"]{
	background: $blue;
	padding: 0 $base;
	height: $base;
	font-family: $body_font;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	border: 0;
	float: left;
	font-family: $heading_font;

	&:hover{
		background: darken($blue,5%);
		color: #fff;
	}

	&:visited{
		color: #fff;
	}
}

/**
 * Buttons
 */
	
.button {
	background: $blue;
	padding: 0 $base;
	line-height: $base*2;
	margin: 0 0 $base 0;
	display: inline-block;
	font-size: 1rem;
	font-family: $heading_font;
	font-weight: bold;
	color: #fff;

	&:hover{
		background: lighten($blue,3%);
		color: #fff;
	}

	&:visited{
		color: #fff;
	}
}

/**
 * Table styling
 */

table { 
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: $base;
	font-size: 0.75rem;
}

	thead{
		background: $blue;
		color: #fff;
	}

	tbody tr:nth-child(odd) {background: #f1f1f1}
	tbody tr:nth-child(even) {background: #FFF}

	th,td{
		height: $base;
		padding: 0 $base;
	}

	th{
		font-weight: bold;
		height: $base*2;
		font-family: $heading_font;
		font-size:1rem;
	}