/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */

/* plain text */
.pln {
color: #cccccc;
}

@media screen {
    /* string content */
    .str { color: #99cc99; }

    /* a keyword */
    .kwd { color: #cc99cc; }

    /* a comment */
    .com { color: #999999; }

    /* a type name */
    .typ { color: #6699cc; }

    /* a literal value */
    .lit { color: #f99157; }

    /* punctuation */
    .pun { color: #cccccc; }

    /* lisp open bracket */
    .opn { color: #cccccc; }

    /* lisp close bracket */
    .clo { color: #cccccc; }

    /* a markup tag name */
    .tag {  color: #f2777a; }

    /* a markup attribute name */
    .atn { color: #f99157; }

    /* a markup attribute value */
    .atv { color: #66cccc; }

    /* a declaration */
    .dec { color: #f99157; }

    /* a variable name */
    .var { color: #f2777a; }

    /* a function name */
    .fun { color: #6699cc; }
}

/* Style */
.prettyprint {
    background: #2d2d2d;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    @include border-radius($radius);
    font-size: 1.6rem;
    padding: 0;
    margin-bottom: $base;
    @include at-breakpoint($s){
        overflow-x: scroll;
    }
}

ol.linenums {

    padding: 0 0 0 $base*1.5;
    margin-bottom: 0;

    li{
        color: #fff;
        padding: 0 0 0 $base;
        margin: 0 $base 0 0;
    }
}