/**
 * typography.scss
 * all base font styles,
 * paragraphs, headings, lists
 */

// Shared paragraph sizes

p,
ul,
ol,
input, 
textarea{
	font-weight: $medium;
	font-size: $p_s;
	@include at-breakpoint($m){ font-size: $p_m; }
	@include at-breakpoint($l){ font-size: $p_l; }
	@include at-breakpoint($xl){ font-size: $p_xl; }
}

// Add margins to the end of paragraphs, lists

p,
ul,
ol{
	margin-bottom: $base;
}

// Big text ideal for the first paragraph in an article

.lead{
	font-size: $p_s*1.3;
	line-height: 1.3;
	@include at-breakpoint($m){ font-size: $p_m*1.3; }
	@include at-breakpoint($l){ font-size: $p_l*1.5; }
	@include at-breakpoint($xl){ font-size: $p_xl*1.5; }
}

// Small type ideal for captions

.small{
	font-size: 1.2rem;
	line-height: 1.3;
	@include at-breakpoint($m){ font-size: 1.2rem; }
	@include at-breakpoint($l){ font-size: 1.3rem; }
	@include at-breakpoint($xl){ font-size: 1.5rem; }
}


// Links

a,
a:visited{
	color: $link;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: $link_hover;
}

// All Headings

h1,h2,h3,h4,h5,h6{
	font-family: $heading_font;
	font-weight: $medium;
	color: #292929;
	line-height: 1.3;
	margin-bottom: $base;
}

h1{ 
	font-size: $h1_s;
	@include at-breakpoint($m){ font-size: $h1_m; }
	@include at-breakpoint($l){ font-size: $h1_l; }
	@include at-breakpoint($xl){ font-size: $h1_xl; }
}

h2{ 
	font-size: $h2_s;
	@include at-breakpoint($m){ font-size: $h2_m; }
	@include at-breakpoint($l){ font-size: $h2_l; }
	@include at-breakpoint($xl){ font-size: $h2_xl;}
}

h3{ 
	font-size: $h3_s;
	@include at-breakpoint($m){ font-size: $h3_m; }
	@include at-breakpoint($l){ font-size: $h3_l; }
	@include at-breakpoint($xl){ font-size: $h3_xl; }
}

// Text transforms

strong{ font-weight: bold; }

em{ font-style: italic; }

// Lists

ul {	
	list-style-type: disc;
	margin-left: $base;
}

ol {
	list-style-type: decimal;
	font-weight: normal;
	margin-left: $base;
}

// Label

label {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}