/**
 * _billboard.scss
 *
 * The big image/slider image
 * displayed prominently across the top of pages.
 */

.billboard{
    position: relative;
    transform-style: preserve-3d; // Fixes problems with blurry half pixel rendering
    img{ width: 100%; }
    @include fluid-background(true);
    @include aspect-ratio(1.5,1);
    @include at-breakpoint($m){
       @include aspect-ratio(3,1);
    }
}

    .billboard__caption{
        position: absolute;
        top: 0;
        width: 95%;
        @include at-breakpoint($m){
           width: 50%; 
        }
    }

        // v/h centering relies on  'transform-style: preserve-3d;' on the parent'.
        .billboard__caption--center{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }