/**
 * _box.scss
 *
 * Box is a CSS object, characterised by
 * padding all round and has a bottom margin 
 * for visually seperating content.
 */

.box{
    padding: $base;
    margin: 0 0 $base 0;
    @include at-breakpoint($m){
        margin: $base/2 0;
    }
}

    // Box with a background color. White by default.
    // Gives an idea of how extendable the box object is.
    .box--bg{
        background: #fff;
    }
    
    // Remove the bottom margin
    .box--last{
        margin: 0;
        @include at-breakpoint($m){
           margin: $base/2 0 0 0;
        }
    }