/**
 * This scss file contains all styles for any embeddable / injected
 * media including javascript maps
 */

.embeddable{
	display: block;
	overflow: hidden;
	position: relative;

	embed,
	iframe,
	object,
	video{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

	.embeddable--10-3{
		@include aspect-ratio(1,1);

		@include at-breakpoint($m){
			@include aspect-ratio(10,3);
		}
	}

	.embeddable--16-9{
		@include aspect-ratio(1,1);

		@include at-breakpoint($m){
			@include aspect-ratio(16,9);
		}
	}

.map{
	margin: 0;
	position: relative;
}

	.map__caption{
		z-index: 50;
		background: clr(brand,primary);
		padding: rem(40);

		p,h2{
			color: white;
		}

		@include at-breakpoint($m){
			position: absolute;
			right: 0;
			top: 20%;
			width: 400px;
		}
	}

// This provides an overlay on top of an element which disables scrolling until clicked on
// Useful for disabling map zoom on embedded maps until the map is clicked (see contact page)
.no-scroll-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: transparent;
}