/**
 * html-body.scss
 * styles applied to the html and body elements
 */


html { 
    font-size: $font_size;
    @include at-breakpoint($mq_medium_min){ font-size: $font_size_m; }
    @include at-breakpoint($mq_large_min){ font-size: $font_size_l; }
    @include at-breakpoint($mq_extralarge_min){ font-size: $font_size_xl; }
    line-height: $line-height;
}

    body {
        color: clr(text,default);
        font-family: $body_font;
        -webkit-font-smoothing: antialiased;
    }