////
/// html / body
///
/// Responsive grids setup
///
/// @author Rory Ashford
////


html {
    font-size: $font_size;

    @include flextype(
        $s $font_size $line-height,
        $m $font_size_m $line-height,
        $l $font_size_l $line-height,
        $xl $font_size_xl $line-height
    );
}

    body {
        font-family: $body_font;
        -webkit-font-smoothing: antialiased;
        color: clr(text,default);
    }