/**
 * html-body.scss
 * styles applied to the html and body elements
 */


html { 
    font-size: $font_size;
    @include at-breakpoint($m){ font-size: $font_size_m; }
    @include at-breakpoint($l){ font-size: $font_size_l; }
    @include at-breakpoint($xl){ font-size: $font_size_xl; }
    line-height: 1.5;
}

    body {
        color: $text_colour;
        font-family: $body_font;
        -webkit-font-smoothing: antialiased;
    }
