/* Jumbotron.scss represents the large almost-fullscreen-esque images */
.slider{
	background: clr(brand,primary);
	overflow: hidden;
}
	.slide{
		transition: 1s;
		overflow: hidden;
		position: relative;
		display: block;
		background-repeat: no-repeat;
		background-position: top left;
		background-size: cover;
		@include aspect-ratio(1,1);

		@include at-breakpoint($m){
			@include aspect-ratio(2.5,1);
		}
	}

		.slide__content-wrap{
			position: absolute;
			bottom: 0;
			background: rgba(clr(brand,primary),0.8);

			h1{
				color: white;
				font-size: rem(48);
				font-weight: $light;
				line-height: 1;
				margin-bottom: $size_h1;
			}

			p{
				color: $clr_navy;
				font-size: rem(26);
			}

			@include at-breakpoint($m){
				top: 0;
				right: -100px;
				transform: skew(-15deg);
				width: 50%;
				text-align: right;
			}
		}

			.slide__caption{
				padding: $base;

				@include at-breakpoint($l){
					padding: 0;
					transform: skew(15deg);
					position: absolute;
					bottom: rem(80);
					left: rem(100);
					right: rem(250);
				}
			}


/* Direction Arrows */
.direction-arrow{
	display: none;
	background-image: url('assets/imgs/arrows.png');
	background-repeat: no-repeat;
	width: 65px;
	height: 110px;
	position: absolute;
	top: 45%;
	opacity: 0.2;
	transition: 0.4s;

	&:hover{
		cursor: pointer;
	}

	@include at-breakpoint($m){
		display: block;
	}
}

	.direction-arrow--left{
		left: rem(55);
		background-position: left center;

		&:hover{
			left: rem(60);
			opacity: 1;
		}
	}
	.direction-arrow--right{
		right: rem(55);
		background-position: right center;

		&:hover{
			right: rem(60);
			opacity: 1;
		}
	}